body{
    margin: 0px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EAF0F1;
    max-width: 1365px;
    max-height: 40px;
    height: 40px;
    padding: 0px 12px;
}
.header-container>span{
    font-weight: 100;
    font-family: cursive;
}
.header-container>.logo{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.user-menu a{
    text-decoration: none;
    color: #4C4B4B;
    font-family: sans-serif;
    font-weight: 700;
}
.user-menu{
    box-shadow: 0px 1px 1px 1px lightgrey;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-menu .no-dec:hover{
    border-bottom: 3px solid #0A79DF;
    margin-bottom: 5px;
}
.no-dec:focus{
    border-bottom: 3px solid #0A79DF;
}
.body-container{
    padding: 20px;
}
.frow{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
@media only screen and (max-width:600px){
    .frow{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .card{
        width: 60% !important;
        height: 100%;
        margin-bottom: 20px;
    }
    .cart-container{
        width: 90% !important;
    }
}

.frow>.card{
    width: 22%;
    height: 100%;
    background: white;
    padding: 10px;
    border: 1px solid aliceblue;
}
.frow>.card:hover{
    box-shadow: 0px 1px 5px 1px lightgrey;

}
.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-bottom: 1px solid #DAE0E2;
}
.card-body{
    font-family: sans-serif;
    color: #616C6F;
    font-size: 14px;
    padding: 10px;
}
.card-body>select{
    width: 115px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 35px;
}
.btn{
    height: 25px;
    float: right;
    background: none;
    border: 1px solid paleturquoise;
    border-radius: 4px;
}
.cart-body-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cart-container{
    width: 70%;
    height: 300px;
    padding: 20px;
}
.cart-head-container,.cart-values{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid #99AAAB;
}
.btn-gr{
    width: 155px;
    height: 32px;
    background: none;
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 10px;
}
.action-values{
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    color: #2C3335;
    border-bottom: 1px solid #99AAAB;
}
.gr-white{
    background: #019031;
    color: white;
}
.cart-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}
.page-container>span{
    position: absolute;
    right: 9px;
    top: 3px;
    color: white;
    background: green;
    border-radius: 49px;
    font-family: monospace;
    font-size: 16px;
}
.v1{
    border-bottom: 3px solid #D63031;
}
.btn:hover{
    background: #1BCA9B;
    color:white;
    height: 40px;
}




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































