body{
    margin: 0px;
    background: aliceblue;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blueviolet;
    width: 100%;
    height: 50px;
}
.logo{
    width: 90px;
    height: 34px;
    border-radius: 6px;
    margin-left: 5px;
}
.logout{
    text-decoration: none;
    color:white;
    margin-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.boxes{
    width: 200px;
    height: 100px;
    background: yellow;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    color:black;
    font-weight: 700;
    box-shadow: 0px 1px 11px 2px lightslategray;


}
.body-container{
    padding: 25px;

}
.box-container{
    display: flex;
    justify-content: space-around;

}

@media only screen and (max-width:600px){

    .header-container{
        background:grey;
    }
    .box-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;

    }
    .boxes{
        width: 70%;
        margin-bottom: 20px;
        background: grey;
        color: white;
        box-shadow: 0px 1px 11px 2px yellowgreen;
    }
    .nav-items{
        display: none;
    }
}

@media only screen and (min-width:600px) and (max-width:900px){

    .header-container{
        background:black;
    }
    .box-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .boxes{
        width: 97%;
        margin-bottom: 20px;
        background: coral;
        color: white;
        box-shadow: 0px 1px 11px 2px lightsalmon;

    }

}

.nav-items{
    background:grey;
}
.nav-items>ul{
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    font-weight: 700;
    font-family: sans-serif;

}
.nav-items a{
    text-decoration: none;
    color:white
}