.col-md-12,.col-md-4,.col-md-6,.col-md-3,.col-md-2,.col-md-1,.col-md-8{
    border: 1px solid grey;
    height: 150px;
    color: white;
}
.row{
    margin-bottom: 10px;
}
.col-md-12{
    background: darkcyan;
}
.col-md-4{
    background: #F4C724;
}
.col-md-6{
    background: #2C3335;
}
.col-md-3{
    background: #10A881;
}
.col-md-2{
    background: #EA7773;
}
.col-md-1{
    background :#2B2B52;
}   
.col-md-8{
    background: blueviolet;
} 
.container-fluid{
    
}